<footer id="main-footer">
  <div class="box-2">
    <div class="container1">
      <ul>
        <li>Copyright @IndianAgroservices</li>
        <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</footer>
