<header id="main-header">
  <a href="/index"><img src="/assets/Agro1.jpeg" alt="Agro Services"></a>
  <div class="box-1">
    <h1> Indian Agro Services </h1>
  </div>
  <div id="user-specific-nav">
    <ul>
      <li><a href="/newConnection">Start a new connection</a></li>
      <li><a href="/logout">Logout</a></li>
      <li><a href="/savedConnections">My Connections</a></li>
    </ul>
  </div>
</header>
