<!DOCTYPE html>
<html lang="en">
  <head>
	<title> Connections Page </title>
	<link rel="stylesheet" type="text/css" href="assets/Stylesheet.css">
	<meta charset="utf-8">
  </head>
  <body>
	<% if(headerFlag == 1) { %>
	<% include partials/header.ejs %>
	<% include partials/navigation.ejs %>
	<% } else if (headerFlag == 2) { %>
	<% include partials/header2.ejs %>
	<% include partials/navigation2.ejs %>
	<% } %>
	<main>
	    <div class="container2">
			<% allCategories.forEach(function(category){ %>
				<h4><%= category %></h4>
				<div class="list1">
					<ul>
						<% allConnections.forEach(function(item){ %>
						<% if(item.category == category){ %>
						<li><a href="/Connection?id=<%= item.connectionID %>"> <%= item.connectionName %> </a></li>
						<% } %>
						<% }); %>
					</ul>
				</div>
			<% }); %>
		</div>
	</main>
    <% include partials/footer.ejs %>
  </body>
</html>
